<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Group List</title>

<link rel="stylesheet" type="text/css" href="static/list.css"
	media="all" />
</head>

<body>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Group List</h1>
		</div>
		<div class="sticky">
			<h2>
				<a href="groupForm.html?id=-1">Create, edit or update Groups</a>
			</h2>
		</div>

		<table>
			<tr>
				<th>ID</th>
				<th>Special Notes</th>
			</tr>
			<tr th:each="group: ${groups}">
				<td><a
					th:href="@{/groupForm.html?id={id}(id=${group.getId()})}"><span
						th:text="${group.getId()}"></span></a></td>
				<td th:text="${group.getSpecialNotes()}" />
			</tr>
		</table>
	</main>
	<!-- /.container -->

	<script type="text/javascript"
		></script>
</body>
</html>
