<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Index Page</title>

<link th:href="@{/css/main.css}" rel="stylesheet"></link>

</head>

<body>

	<main role="main" class="container">
		<div th:each="link: ${links}" class="tile">
			<a th:href="${link.getAddress()}"> <img class="tileimg"
				th:src="${link.getImageAddress()}" th:alt="${link.getTitle()}">
			</a>
			<p class="caption" th:text="${link.getTitle()}"></p>
		</div>

	</main>

</body>
</html>

