<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Lesson List</title>

<link rel="stylesheet" type="text/css" href="static/entitylist.css"
	media="all" />
</head>

<body>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Lesson List</h1>
		</div>
		<div class="sticky">
			<h2>
				<a href="lessonForm.html?id=-1">Create, edit or update Lessons</a>
			</h2>
		</div>
		<table>
			<tr>
				<th>ID</th>
				<th>Start time</th>
				<th>End time</th>

			</tr>
			<tr th:each="lesson: ${lessons}">
				<td><a
					th:href="@{/lessonForm.html?id={id}(id=${lesson.getId()})}"><span
						th:text="${lesson.getId()}"></span></a></td>
				<td th:text="${lesson.getStartTime()}" />
				<td th:text="${lesson.getEndTime()}" />
			</tr>
		</table>
	</main>
	<!-- /.container -->

	<script type="text/javascript"
		></script>
</body>
</html>
