<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="static/list.css"
	media="all" />
</head>
<body>
	<input type="hidden" id="entityname" value="professor" />
	<div id="form_container">
		<h1>
			<span>&nbsp;</span>
		</h1>

		<form action="#" th:object="${professordto}" id="form1" method="post">
			<table border="1">
				<tbody>
					<tr>
						<td>
							<h2></h2>
							<h2>Edit Professors</h2> <input type="hidden" id="entityname"
							value="professor" />
							<div id="submitterResult"></div>
						</td>
					</tr>
					<tr>

						<td><input type="radio" id="radioCreate" name="mode"
							value="create" checked th:field="*{mode}" /> <label
							for="radioCreate">Create</label> <input type="radio"
							id="radioDelete" name="mode" value="delete" th:field="*{mode}" />
							<label for="radioDelete">Delete</label> <input type="radio"
							id="radioUpdate" name="mode" value="update" th:field="*{mode}" />
							<label for="radioUpdate">Update</label></td>
					</tr>
					<tr>
						<td><label class="description" for="idinput">Professor
								ID </label>
							<div>
								<input th:value="${upstreamId}" id="idinput" name="idinput"
									class="element text medium" type="number" th:field="*{id}"
									maxlength="255" value="" disabled />
							</div></td>
					</tr>
					<tr>
						<td><label class="description" for="description">Professor
								Name </label>
							<div>
								<input th:value="${upstreamDescription}" name="name"
									class="element text medium" type="text" th:field="*{name}"
									maxlength="255" value="" />
							</div></td>
					</tr>
					<tr>
						<td><label class="description" for="description">Professor
								Ranks</label>
							<div>
								<input th:value="${upstreamDescription}" name="description"
									class="element text medium" type="text" th:field="*{ranks}"
									maxlength="255" value="" />
							</div></td>
					</tr>
					<tr>
						<td><label class="description" for="description">Professor
								Notes</label>
							<div>
								<input th:value="${upstreamDescription}" name="description"
									class="element text medium" type="text" th:field="*{notes}"
									maxlength="255" value="" />
							</div></td>
					</tr>
					<tr>
						<td><label class="description" for="description">Department
								ID</label>
							<div>
								<input th:value="${upstreamDescription}" name="description"
									class="element text medium" type="number"
									th:field="*{departmentId}" maxlength="255" value="" />
							</div></td>
					</tr>
					<tr>
						<td class="buttons"><input class="button_text" type="submit"
							name="submit" value="Done"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<script src="static/radios.js"></script>
</body>
</html>