<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Your data have been submitted</title>

<link th:href="@{/css/list.css}" rel="stylesheet"></link>

</head>

<body>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Your data have been submitted.</h1>
		</div>

		<h2 th:text="${result}"></h2>
	</main>
	<!-- /.container -->

	<div class="goback">
		<a href="javascript:window.history.back()">&lt;&lt;&lt; go back</a>
	</div>


</body>
</html>
