<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Student List</title>

<link rel="stylesheet" type="text/css" href="static/list.css"
	media="all" />
</head>

<body>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Student List</h1>
		</div>
		<div class="sticky">
			<h2>
				<a href="professorForm.html?id=-1">Create, edit or update
					Professors</a>
			</h2>
		</div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
			<tr th:each="student: ${students}">
				<td><a
					th:href="@{/studentForm.html?id={id}(id=${student.getId()})}"><span
						th:text="${student.getId()}"></span></a></td>
				<td th:text="${student.getName()}" />
			</tr>
		</table>
	</main>
	<!-- /.container -->

	<script type="text/javascript"
		></script>
</body>
</html>
